@use '../../styles/variables' as*;
.header{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    padding: $spacing-sm;
    border-bottom: 2px solid $border-color;
    .headerContainer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            h2{
                color: $text-on-primary;

            }
        }
        .userInfo{
            display: flex;
            flex-direction: column;
            gap: $spacing-xs;
            list-style: none;
            color: $text-on-primary;
            .informationItem{
                span{
                    font-size: 16px;
                    color: $text-on-primary;
                    cursor: default;
                    letter-spacing: 2px;
                }
                position: relative;
                display: flex;
                flex-direction: column;
                gap: $spacing-xs;
                &:hover{
                    .userInfoDropdown{
                        display: flex;
                    }
                }
            }
            .userInfoDropdown{
                min-width: 100%;
                display: none;
                list-style-type: none;
                flex-direction: column;
                gap: $spacing-sm;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: $color-primary;
                gap: $spacing-xs;
                padding: $spacing-sm 0;
                overflow: hidden;

                li{
                    display: flex;
                    align-items: center;
                    gap: $spacing-xs;
                    span{
                        font-size: 14px;
                    }
                }
                .logoutBtn{
                    background-color: transparent;
                    border: none;
                    text-align: start;
                    display: flex;
                    align-items: center;
                    color: rgb(248, 58, 58);
                    gap: $spacing-xs;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

        }
    }
}