@use '../../../../styles/variables' as*;
.kpiCard{
    width: fit-content;
    padding: $spacing-sm $spacing-md;
    background-color: $bg-surface;
    box-shadow: $shadow-sm;
    border-radius: $radius-lg;
    width: 280px;
    .kpiCardContainer{
        padding: $spacing-xs;
        h4{
            color: $text-primary;
            font-size: 16px;
        }
    }
}